.sorting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2.5rem;
}
.sorting select{
  margin-right: 5px;
  border: 2px solid var(--black-color);
  color: var(--black-color);
}
.sorting h2{
  color: var(--black-color);
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  cursor: pointer;
}